<li class="nav-item">
  <%= link_to t(:sign_in), new_account_session_url, class: "nav-link active" %>
</li>
<li class="nav-item">
  <%= link_to t(:sign_up), new_account_registration_url, class: "nav-link" %>
</li>

<li class="nav-item">
  <a class="nav-link disabled"><%=t :dashboard%></a>
</li> 